# Estamos em ambiente de produção. 



1.   Carregaremos o modelo treinado
2.   Carregaremos novos dados a serem inferidos
3.   Faremos as inferências
4.   FIM

In [1]:
# 1. Carregaremos o modelo treinado
import pickle
filename = 'model.sav'
model = pickle.load(open(filename, 'rb'))

In [2]:
# 2. Carregaremos novos dados a serem inferidos
import pandas as pd
new_data = pd.read_csv('Dataset_spine_unknown.csv')
new_data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12
0,80.111572,33.942432,85.101608,46.169139,125.593624,100.292107,0.088561,11.6503,16.1451,9.69950,4.446480,36.0749
1,95.480229,46.550053,59.000000,48.930176,96.683903,77.283072,0.778848,29.8380,14.5939,12.22450,-21.695815,38.7849
2,45.701789,10.659859,42.577846,35.041929,130.178314,-3.388910,0.990034,26.6333,18.3694,16.44832,-13.438814,34.2846
3,38.046551,8.301669,26.236830,29.744881,123.803413,3.885773,0.933378,14.7528,11.1235,11.05746,5.412408,38.2581
4,43.436451,10.095743,36.032224,33.340707,137.439694,-3.114451,0.283589,36.0097,11.0132,8.51675,-23.904190,35.0749

In [3]:
# 3. Faremos as inferências
inferences = model.predict(new_data)
print(inferences)

['Abnormal' 'Abnormal' 'Normal' 'Normal' 'Normal' 'Abnormal' 'Normal'
 'Normal' 'Abnormal' 'Abnormal' 'Abnormal' 'Normal']

# FIM

### ver bath script